
@{
    ViewData["Title"] = "sotanoepmaC";
}

@section Header {
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.8/datatables.min.css" rel="stylesheet">     
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.8/datatables.min.js"></script>
}

<h1 class="mt-3">sotanoepmaC</h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Bolao" asp-action="Add">Criar</a>
</div>

<table class="table table-bordered" id="boloes_table">
    <thead>
        <tr style="text-align: center;">
            <th>Código</th>
            <th>Título</th>
            <th>Ano</th>
            <th>Criado por</th>
            <th> </th>
        </tr>
    </thead>
    @*
    <tbody>
        @foreach (var bolao in Model)
        {
            <tr>
                <td>@bolao.Codigo</td>
                <td>@bolao.Titulo</td>
                <td>@bolao.CampeonatoAnual.Campeonato.Sigla - @bolao.CampeonatoAnual.Ano</td>
                <td>@bolao.Dono.Nome</td>
                <td>
                    <a asp-controller="Bolao" asp-action="Edit" asp-route-code="@bolao.Codigo" class="btn btn-light">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    *@
</table>



@section Scripts
{
    <script>
        let table = new DataTable('#boloes_table');
        $(document).ready(function() {
            $('#boloes_table').DataTable({
                processing: true,
                serverSide: true,
                ajax: "server_processing.php"
            });
        });
    </script>
}